# Python garbage
__pycache__/
*.py[cod]
*$py.class

# Xcode/Mac garbage
DerivedData/
*.xcuserstate
.DS_Store
*.xcuserdata
xcuserdata/

# Log files (optional - if you want your repo to start empty)
backend/logs/flight_data.json
backend/logs/archive/*.json